.Aboutme__border{
    position: absolute;
    width: 500px;
    height: 560px;
    left: 830px;
    top: 2832px;
    
    border: 2px solid black;
    border-radius: 10px;
}

.Aboutme__DesignerDevelover{
    position: absolute;
    width: 478px;
    height: 64px;
    left: 843px;
    top: 2800px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;

    letter-spacing: -0.02em;

    color: #181818;

}
.Aboutme__text{
    position: absolute;
    width: 484px;
    height: 168px;
    left: 845px;
    top: 2910px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #000000;
}
.Imageme{
    position: absolute;
    width: 400px;
    height: 560px;
    left: 250px;
    top: 2832px;

    border-radius: 24px;
}
.Aboutme__frame{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 190px;
    top: 3250px;
}
.Aboutme__frame__background{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 0px;
    top: 0px;
    
    background: #F1F1F1;
    border-radius: 10000px;
}
.Aboutme__frame__icon{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 30px;
    top: 34px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;

    text-align: center;

    color: #000000;
    z-index: 1000;
}
.Aboutme__statistic__frame{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    position: absolute;
    width: 79px;
    height: 88px;
    left: 845px;
    top: 3280px;
}
.Aboutme__statistic__frame2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    position: absolute;
    width: 87px;
    height: 88px;
    left: 995px;
    top: 3280px;
}
.Aboutme__statistic__frame3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    position: absolute;
    width: 46px;
    height: 88px;
    left: 1145px;
    top: 3280px;
}
.Aboutme__statistic__number{
    width: 41px;
    height: 24px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;

    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #181818;
}
.Aboutme__statistic__text{
    width: 79px;
    height: 48px;

    position: absolute;
    top: 40px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #181818;
}