.Artworks{
    display: flex;
    
    align-items:center;
    justify-content: center;

    padding: 10px ;

}
.Artworks__navigation{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 17px;

    margin-top: 670px;
    margin-left: 540px;
}
.Artworks__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-top: 70px;
    padding: 4px 10px;

    background-color: white;

    border: 2px solid black;
    border-radius: 10000px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    box-sizing:border-box;
}

.Artworks__show__frame1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    
    width: 1160px;
}
.Artworks__show__frame2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

    width: 1160px;
}
.Artworks__show__frame3{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

    width: 1160px;
}
#Image1{
    box-sizing: border-box;

    width: 1160px;
    height: 460px;

    border: 1px solid #DBDBDB;
    border-radius: 20px;

}
#Image2 {
    box-sizing: border-box;

    width: 560px;
    height: 400px;

    border: 1px solid #DBDBDB;
    border-radius: 20px;

}


