

.Contacts__title{
    position: absolute;
    width: 371px;
    height: 64px;
    left: 600px;
    top: 6760px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;

    letter-spacing: -0.02em;

    color: #181818;
}
.Contacts__text{
    position: absolute;
    width: 600px;
    height: 24px;
    left: 547px;
    top: 6870px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #181818;
}
.Contacts__frame1{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 111px;
    top: 6810px;
}
.Contacts__frame1__background{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 0px;
    top: 0px;

    background: #F1F1F1;
    border-radius: 10000px;
}
.Contacts__frame1__icon{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 30px;
    top: 34px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;

    text-align: center;

    color: #000000;
    z-index: 1000;
}
.Contacts__frame2{
    position: absolute;
    width: 170px;
    height: 170px;
    left: 1252px;
    top: 7156px;
}
.Contacts__frame2__background{
    position: absolute;
    width: 170px;
    height: 170px;
    left: 0px;
    top: 0px;

    background: #F1F1F1;
    border-radius: 10000px;
}
.Contacts__frame2__icon{
    position: absolute;
    width: 110px;
    height: 110px;
    left: 30px;
    top: 26px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 110px;
    line-height: 110px;

    text-align: center;

    color: #000000;
    z-index: 1000;
}
.Contacts__frame3{
    position: absolute;
    width: 140px;
    height: 140px;
    left: 250px;
    top: 7392px;
}
.Contacts__frame3__background{
    position: absolute;
    width: 140px;
    height: 140px;
    left: 0px;
    top: 0px;
    
    background: #F1F1F1;
    border-radius: 10000px;
}
.Contacts__frame3__icon{
    position: absolute;
    width: 56px;
    height: 56px;
    left: 42px;
    top: 42px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 24px;

    text-align: center;
    
    color: #000000;
    z-index: 1000;
}
.Contacts__frame__main{
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 24px;
    gap: 8px;

    position: absolute;
    width: 448px;
    height: 552px;
    left: 560px;
    top: 6936px;

    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 16px;
}
.Contacts__frame__inside{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    width: 400px;
    height: 376px;

    flex: none;
    order: 0;
    flex-grow: 0;
}
.Contacts__frame__input{
    width: 400px;
    height: 48px;

    background: #FFFFFF;
    border-radius: 8px;

    flex: none;
    order: 0;
    flex-grow: 0;

    width: 33px;
    height: 24px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    color: #808080;
}
.Contacts__frame__input2{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    gap: 16px;

    position: absolute;
    height: 48px;
    left: 30px;
    right: 30px;
    top: 48px;

    border: 1px solid #DBDBDB;
    border-radius: 8px;

}
.Contacts__frame__input__placeholder{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 32px;
    gap: 10px;

    position: absolute;
    width: 33px;
    height: 24px;
    left: 16px;
    top: 12px;
}
.Contacts__frame__input__placeholder__text{
    width: 33px;
    height: 24px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    color: #808080;
}
.Contacts__frame__input__second{
    width: 400px;
    height: 48px;

    background: #FFFFFF;
    border-radius: 8px;
}
.Contacts__frame__input3{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    gap: 12px;

    position: absolute;
    height: 48px;
    left: 30px;
    right: 30px;
    top: 120px;

    border: 1px solid #DBDBDB;
    border-radius: 8px;
}
.Contacts__frame__input__placeholder2{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 32px;
    gap: 10px;

    position: absolute;
    width: 47px;
    height: 24px;
    left: 12px;
    top: 99px;


}
.Contacts__frame__input__placeholder__text2{
    width: 47px;
    height: 24px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    color: #808080;

    flex: none;
    order: 0;
    flex-grow: 0;

    border: 0px;
}
.Contacts__frame__main__service{
    width: 400px;
height: 48px;

background: #FFFFFF;
border-radius: 8px;
}
.Contacts__frame__service{
box-sizing: border-box;

display: flex;
flex-direction: row;
align-items: center;
padding: 12px 16px;
gap: 16px;

position: absolute;
height: 48px;
left: 30px;
right: 30px;
top: 194px;

border: 1px solid #DBDBDB;
border-radius: 8px;
}
.Contacts__frame__service__input{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 195px;
gap: 10px;

position: absolute;
width: 368px;
height: 24px;
left: -146px;
top: 12px;

}
.Contacts__frame__service__input__text{
width: 53px;
height: 24px;

font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;

color: #808080;

border: 0px;

}
.Contacts__frame__main__comment{
    width: 400px;
    height: 160px;

    background: #FFFFFF;
    border-radius: 8px; 
}
.Contacts__frame__comment{
box-sizing: border-box;

display: flex;
flex-direction: row;
align-items: center;
padding: 12px 16px;
gap: 16px;

position: absolute;
height: 160px;
left: 30px;
right: 30px;
top:262px;

border: 1px solid #DBDBDB;
border-radius: 8px
}
.Contacts__frame__comment__input{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    
    position: absolute;
    width: 107px;
    height: 24px;
    left: 45px;
    top: 260px;
}
.Contacts__frame__comment__input__text{
    width: 107px;
    height: 24px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    color: #808080; 
}
.Contacts__frame__main__message{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px 0px 0px;
    gap: 8px;
    
    width: 400px;
    height: 88px;  
}
.Contacts__frame__message{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 15px 24px 17px;
gap: 8px;

width: 387px;
height: 80px;

position: absolute;
top: 450px;
left: 30px;
right: 30px;

background: #181818;
border:1px solid black;
border-radius: 8px;

cursor: pointer;

}
.Contacts__frame__message__text{
    width: 178px;
height: 24px;

font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;

color: #FFFFFF;

}
.Contacts__frame__input__new{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    gap: 16px;

    position: absolute;
    height: 48px;
    left: 30px;
    right: 30px;
    top: 116px;

    border: 1px solid #DBDBDB;
    border-radius: 8px;  
}
.Contacts__frame__input__new_2{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    gap: 16px;

    position: absolute;
    height: 48px;
    left: 30px;
    right: 30px;
    top: 184px;

    border: 1px solid #DBDBDB;
    border-radius: 8px; 
}
.Contacts__frame__input__new_3{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    gap: 16px;

    position: absolute;
    height: 180px;
    left: 30px;
    right: 30px;
    top: 252px;

    border: 1px solid #DBDBDB;
    border-radius: 8px; 
}
.Contacts__frame__input__new_0{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    gap: 16px;

    position: absolute;
    height: 45px;
    left: 30px;
    right: 30px;
    top: 48px;

    border: 1px solid #DBDBDB;
    border-radius: 8px; 
}