html {
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}
textarea{
    resize: vertical;
}


.HeaderNavigation__name {
    width: 93px;
    height: 24px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    gap: 8px;
    
    position: absolute;
    width: 109px;
    height: 32px;
    left: 110px;
    top: 48px;
    
    border: 2px solid #000000;
    border-radius: 8px;
    
    color: #000000;
    
    text-transform: uppercase;
}
.HeaderNavigation__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 50px;
    
    position: absolute;
    width: 700px;
    height: 24px;
    left: 427px;
    top: 40px;
     
}
.HeaderNavigation__text{
    width: 58px;
    height: 24px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    
    color: #000000;

    list-style: none;
}
.HeaderInformation__slogan {
    display: flex;
    
    position: absolute;
    width: 804px;
    height: 128px;
    left: 380px;
    top: 85px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    line-height: 64px;
    
    text-align: center;
    letter-spacing: -0.02em;
    
    color: #181818;
}
.HeaderInformation__text { 
    position: absolute;
    width: 484px;
    height: 48px;
    left: 555px;
    top: 352px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    
    text-align: center;
    
    color: #000000;
}
.HeaderContacts {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    
    position: absolute;
    width: 452px;
    height: 56px;
    left: 552px;
    top: 480px;
}
.HeaderContacts__button1 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 24px 17px;
    gap: 8px;
    
    width: 215px;
    height: 56px;
    
    background: #181818;
    
    border: 2px solid #181818;
    border-radius: 8px;

    text-decoration: none;
}
.HeaderContacts__button1__text {
    width: 167px;
    height: 24px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    
    color: #FFFFFF;
}
.HeaderContacts__button2 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 24px 17px;
    gap: 12px;
    
    width: 220px;
    height: 56px;
    
    border: 2px solid #181818;
    border-radius: 8px;

    cursor: pointer;
    text-decoration: none;
}
.HeaderContacts_button2_text {
     width: 250px;
    height: 24px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    
    color: black;
}
.Header__frame1{
    position: absolute;
    width: 170px;
    height: 170px;
    left: 1280px;
    top: 40px;
}
.Header__frame1__background{
    position: absolute;
    width: 170px;
    height: 170px;
    left: 0px;
    top: 0px;

    background: #F1F1F1;
    border-radius: 10000px;
}
.Header__frame1__icon{
    position: absolute;
    width: 110px;
    height: 110px;
    left: 30px;
    top: 26px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 110px;
    line-height: 110px;

    text-align: center;

    color: #000000;
    z-index: 1000;
}
.Header__frame2{
    position: absolute;
    width: 64px;
    height: 64px;
    left: 209px;
    top: 362px;
}
.Header__frame2__background{
    position: absolute;
    width: 64px;
    height: 64px;
    left: 0px;
    top: 0px;

    background: #F1F1F1;
    border-radius: 10000px;
}
.Header__frame2__icon{
    position: absolute;
    width: 28px;
    height: 24px;
    left: 18px;
    top: 20px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 24px;

    text-align: center;

    color: #000000;
    z-index: 1000;
}
.Header__frame3{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 1171px;
    top: 410px;
}
.Header__frame3__background{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 0px;
    top: 0px;

    background: #F1F1F1;
    border-radius: 10000px;
}
.Header__frame3__icon{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 30px;
    top: 34px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;

    text-align: center;

    color: #000000;
    z-index: 1000;
}