.Price{
    position: absolute;
    width: 446px;
    height: 64px;
    left: 550px;
    top: 4400px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    
    letter-spacing: -0.02em;
    
    color: #181818;
}
.Price__frame {
    box-sizing: border-box;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 24px;
    gap: 8px;
    
    position: absolute;
    width: 448px;
    height: 368px;
    left: 545px;
    top: 4544px;
    
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 16px;
    
    z-index: 2;
}
.Price__about__frame{
    box-sizing: border-box;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 24px;
    gap: 24px;
    
    position: absolute;
    width: 400px;
    height: 290px;
    left: 570px;
    top: 4895px;
    
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 0px 0px 16px 16px;
    
    z-index: 1;
    transform: translateY(-100%);
    transition: 2.5s;
}

.Price__about__frame.hide{
    transform: translateY(0);
}

.Price__about__frame__maintext{
    width: 318px;
    height: 64px;

    position: absolute;
    top: -20px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 64px;
    
    letter-spacing: -0.02em;
    
    color: #181818;
}
.Price__about__frame__text1__1{
    width: 83px;
    height: 24px;
    
    position: absolute;
    top:55px;
    
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    
    color: #181818;
}
.Price__about__frame__text1__2{
    width: 120px;
    height: 24px;
    
    position: absolute;
    top: 75px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    
    color: #181818;
}
.Price__about__frame__text2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    width: 161px;
    height: 48px;

    position: absolute;
    top: 150px;
}
.Price__about__frame__text2__1{
    width: 141px;
    height: 24px;
    
    position: absolute;
    top: -15px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    
    color: #181818;
}
.Price__about__frame__text2__2{
    width: 161px;
    height: 24px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    
    color: #181818;
}
.Price__about__frame__button{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 0px 0px;
    gap: 8px;
    
    width: 352px;
    height: 72px;

    position: absolute;
    top: 200px;
}
.Price__about__frame__button__button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 24px 17px;
    gap: 8px;
    
    width: 352px;
    height: 56px;
    
    background: #181818;
    border-radius: 8px;

    cursor: pointer;
}
.Price__about__frame__button__text{
    width: 135px;
    height: 24px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    
    color: #FFFFFF;
}
.Price__about__frame1{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 61px;
    top: 4532px;
}
.Price__about__frame__background1{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 0px;
    top: 0px;

    background: #F1F1F1;
    border-radius: 10000px;
}
.Price__about__frame__icon1{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 30px;
    top: 30px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;

    text-align: center;

    color: #000000;
    z-index: 1000;
}
.Price__about__frame2{
    position: absolute;
    width: 170px;
    height: 170px;
    left: 1206px;
    top: 4655px;
}
.Price__about__frame__background2{
    position: absolute;
    width: 170px;
    height: 170px;
    left: 0px;
    top: 0px;

    background: #F1F1F1;
    border-radius: 10000px;
}
.Price__about__frame__icon2{
    position: absolute;
    width: 110px;
    height: 110px;
    left: 30px;
    top: 26px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 110px;
    line-height: 110px;

    text-align: center;

    color: #000000;
    z-index: 1000;
}
.Price__about__button__main__frame{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px 0px 0px;
    gap: 8px;
    
    width: 400px;
    height: 88px; 
}
.Price__about__button__frame{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 24px 17px;
    gap: 8px;
    
    width: 360px;
    height: 56px;

    position: absolute;
    top: 4830px;
    left: 590px;
    
    border: 2px solid #181818;
    border-radius: 8px;
    z-index: 1999; 

    cursor: pointer;
}
.Price__about__button__text{
    width: 175px;
height: 24px;

font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;

color: #181818;
z-index: 2000;
}
.main{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 400px;
height: 192px;
}
.main__1__text__frame{
    box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 16px;
gap: 16px;

position: absolute;
height: 48px;
width: 350px;
left: 590px;
right: 0px;
top: 4570px;

border: 1px solid #DBDBDB;
border-radius: 8px;
z-index: 3000;

background-color:white;
color:#808080;
}
.main__1__text{
    width: 89px;
    height: 24px;

    position:absolute;
    top: 4555px;
    left: 590px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    color: #808080; 
    z-index: 3000;
}
.main__1__gap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 10px;
    
    position: absolute;
    width: 368px;
    height: 24px;
    left: 16px;
    top: 12px;
    
    background: #FFFFFF;
}
.test1{
    width: 1px;
height: 48px;

background: #FFFFFF;
border-radius: 8px;
}
.main2{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 400px;
height: 192px;
}
.main__2__text__frame{
    box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 16px;
gap: 16px;

position: absolute;
height: 48px;
width: 350px;
left: 590px;
right: 0px;
top: 4640px;

border: 1px solid #DBDBDB;
border-radius: 8px;
z-index: 3000;

background-color: white;
color:#808080;

}
.main__2__text{
    width: 500px;
    height: 24px;

    position:absolute;
    top: 4625px;
    left: 590px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    color: #808080; 
    z-index: 3000;
}
.main__2__gap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 10px;
    
    position: absolute;
    width: 368px;
    height: 24px;
    left: 16px;
    top: 12px;
    
    background: #FFFFFF;
}
.test2{
    width: 1px;
height: 48px;

background: #FFFFFF;
border-radius: 8px;
}
.Price__about__checkbox__text{
width: 331px;
height: 48px;

position: absolute;
top: 4700px;
left: 615px;


font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;

color: #181818;
z-index: 3000;
}
.Checkbox__3{
    position: absolute;
    top: 4720px;
    left: 590px;
    z-index: 3000;
}