.QA__frame{
    position: absolute;
    width: 1519px;
    height: 1450px;
    left: 0px;
    top: 5250px;
    
    background: black;
}
.QA_title{
 width: 750px;

margin: 400px;
margin-top: 100px;
font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 64px;


color: white;
}
.QA__frame__main{

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

position: absolute;
/* margin: 150px;
margin-top: 2350px; */
top: 5540px;
left: 145px;

}
.QA__frame__button{
    padding: 32px 40px;
    gap: 24px;
    width: 1160px;

    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 16px;
    cursor: pointer;
}
.QA__button__header{
    padding: 0px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}
.QAcontent{
    max-height: 0;
    overflow: hidden;

    font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;


color: #181818;

transition: max-height 2s ease-in;
}
.opened .QAcontent{
    max-height: 375px;
}
