@media (min-width:310px) and (max-width:380px) {

    .HeaderNavigation__name {
        width: 90px;
    }
    .HeaderNavigation__list {
        position: absolute;
        left: 400px;
    }
    .HeaderInformation__slogan {
       position: absolute;
       left: 230px;
    }
    .HeaderInformation__text { 
       position: absolute;
       left: 390px;
    }
    .HeaderContacts__button1 {
        position: absolute;
       left: -100px;
    }
    .HeaderContacts__button2 {
        position: absolute;
       left: 150px;
    }
    .Header__frame1{
      position: absolute;
      left: 1050px;
    }
    .Header__frame2{
        position: absolute;
    }
    .Header__frame3{
        position: absolute;
        left: 970px;
    }
    /*                     */
    .Artworks__navigation{
    position: absolute;
    left: 392px;
    }
    .Artworks__show__frame1 {
        width: 375px;
    }
    .Artworks__show__frame2{
        width: 1050px;
    }
    .Artworks__show__frame3{
        width: 1050px;
    }
    .Image1{
        width: 1050px;
    }
    .Image2 {
      width: 1000px;
    }
    /*                   */
    .Aboutme__DesignerDevelover{
        position: absolute;
        left: 600px;
    }
    .Aboutme__text{
       position: absolute;
       left: 605px;
    }
    .Imageme{
        width: 350px;

        position: absolute;
        left: 230px;
    }
    .Aboutme__frame{
        position: absolute;
        left: 160px;
    }
    .Aboutme__statistic__number{
      position: absolute;
      left: -110px;
    }
    .Aboutme__statistic__text{
        position: absolute;
        left: -115px;
    }
    /*                  */
    .Services{
        width: 1300px;
    }
    .Services__name{
       position: absolute;
       left: 570px;
    }
    .Services__choose{
       position: absolute;
       left: 55px;
    }
    /*                  */
    .Price{
       position: absolute;
       left: 400px;
    }
    .Price__frame {
        position: absolute;
        left: 400px;
    }
    .Price__about__frame{
        position: absolute;
        left: 425px;
    }
    .Price__about__frame2{
        position: absolute;
        left: 1000px;
    }
    .Price__about__button__frame{
        position: absolute;
        left: 445px;
    }
    .main__1__text__frame{
        position: absolute;
        left: 445px;
    }
    .main__1__text{
        position: absolute;
        left: 445px;
    }
    .main__2__text__frame{
        position: absolute;
        left: 445px;
    }
    .main__2__text{
        position: absolute;
        left: 445px;
    }
    .Price__about__checkbox__text{
        position: absolute;
        left: 490px;
    }
    .Checkbox__3{
        position: absolute;
        left: 460px;
    }
    /*             */
    .QA__Title{
        position: absolute;
        left: 460px;
    }
    .QA{
       width: 1300px; 
    }
    .QA__frame{
        position: absolute;
        left: 80px;
    }
    /*                */
    .Contacts__title{
        position: absolute;
        left: 440px;
    }
    .Contacts__text{
        position: absolute;
        left: 400px;
    }
    .Contacts__frame1{
        position: absolute;
        left: 80px;
    }
    .Contacts__frame2{
        position: absolute;
        left: 1000px;
    }
    .Contacts__frame3{
        position: absolute;
        left: 170px;
    }
    .Contacts__frame__main{
        position: absolute;
        left: 410px;
    }
}