.Services{
    position: absolute;
    width: 1519px;
    height: 768px;
    left: 0px;
    right: 0px;
    top: 3512px;
    
    background: black;
}
.Services__name{
    position: absolute;
    width: 156px;
    height: 64px;
    left: 665px;
    top: 35px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 64px;
    
    letter-spacing: -0.02em;
    
    color: #ffffff;
}
.Services__choose{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    
    position: absolute;
    width: 1160px;
    height: 384px;
    left: 165px;
    right: 165px;
    top: 3776px;
}
.Services__choose__frame{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    gap: 8px;
    
    width: 368px;
    height: 384px;
    
    background: #FFFFFF;
    border-radius: 16px;
}
.Services__choose__frame__small{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    
    width: 288px;
    height: 168px;
}
.Services__choose__frame__smaller{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    
    width: 288px;
    height: 56px;
}
.Services__choose__number{
    width: 288px;
    height: 24px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    
    font-feature-settings: 'pnum' on, 'lnum' on;
    
    color: #181818;
    
    opacity: 0.5;
}
.Services__choose__heading{
    width: 288px;
    height: 24px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    
    color: #181818;
}
.Services__choose__Text{
    width: 288px;
    height: 96px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #181818;
}
.line{
    width: 80px;
    height: 0px;
    
    opacity: 0.2;
    border: 1px solid #181818;
}
.Services__choose__price{
    width: 288px;
    height: 24px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    
    font-feature-settings: 'pnum' on, 'lnum' on;
    
    color: #181818;
}
