.HeaderContacts__button1 { 
    background-color:black; 

    transition: 2.5s; 
}
.HeaderContacts__button1:hover { 
    background-color: white; 
    color: black;
}

.HeaderContacts__button1__text {  
    transition: 2.5s; 
}
.HeaderContacts__button1__text:hover { 
    color: black; 
}

.HeaderContacts__button2 { 
    background-color:white; 

    transition: 2.5s; 
}
.HeaderContacts__button2:hover { 
    background-color: black; 
}

.HeaderContacts_button2_text {  
    transition: 2.5s; 
}
.HeaderContacts_button2_text:hover { 
    color: white; 
}

/*                     */

section ul li{
    cursor: pointer;
}

section ul li.active{
    background-color:black;
    color:white;
    transition: 1.5s;
}


/*                    */

.item__box.active{
    animation: fadeInFromNone 1.5s ease-in-out;
    animation-fill-mode: forwards;
}

.item__box.hide{
    display: none;
    animation: fadeOutFromBlock 1.5s ease-in-out;
}
@keyframes fadeInFromNone {
    0% {
      opacity: 0;
    }
    50% {
        opacity: 0.5;
      }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fadeOutFromBlock {
    0% {
      opacity: 1;
    }
    50% {
        opacity: 0.5;
      }
    100% {
      opacity: 0;
    }
  }

  /*                   */


.Price__about__button__frame { 
    background-color:white; 

    transition: 2.5s; 
}
.Price__about__button__frame:hover { 
    background-color: black; 
}

.Price__about__button__text {  
    transition: 2.5s; 
}
.Price__about__button__text:hover { 
    color: white; 
}

.Price__about__frame__button__button { 
    background-color:black; 

    transition: 2.5s; 
}
.Price__about__frame__button__button:hover { 
    background-color: white; 
    color: black;
}

.Price__about__frame__button__text {  
    transition: 2.5s; 
}
.Price__about__frame__button__text:hover { 
    color: black; 
}

/*                   */

.Contacts__frame__message { 
    background-color:black; 

    transition: 2.5s; 
}
.Contacts__frame__message:hover { 
    background-color: white; 
    color: black;
}

.Contacts__frame__message__text {  
    transition: 2.5s; 
}
.Contacts__frame__message__text:hover { 
    color: black; 
}
