{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PETPO`s space</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/artworks.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/aboutme.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/services.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/price.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/qa.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/contacts.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/test.css' %}">

    <!-- <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/artworks.css">
    <link rel="stylesheet" href="css/aboutme.css">
    <link rel="stylesheet" href="css/services.css">
    <link rel="stylesheet" href="css/price.css">
    <link rel="stylesheet" href="css/qa.css">
    <link rel="stylesheet" href="css/contacts.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="css/test.css"> -->
</head>

<body>

    <header>
        <div class="HeaderNavigation">

            <b class="HeaderNavigation__name"> developer </b>

            <div class="HeaderNavigation__list">
                <a  href="#works"  class="HeaderNavigation__text">Работы</ф>
                <a  href="#services"  class="HeaderNavigation__text">Услуги</a>
                <a href="#Process" class="HeaderNavigation__text">Процесс</a>
                <a href="#us" class="HeaderNavigation__text">О нас</a>
                <a href="#contacts_a" class="HeaderNavigation__text">Контакты</a>
            </div>   
        </div>

        <div class="HeaderInformation">
            <h1 class="HeaderInformation__slogan">Пока вы думаете, эти сайты продают услуги ваших конкурентов.</h1>
            <h2 class="HeaderInformation__text">Изучаем ваш бизнес. Узнаем, что важно клиентам, как вызвать доверие и довести до заявки или покупки</h2>
        </div>

        <div class="HeaderContacts">
                <a href="https://t.me/r0_z3" button class="HeaderContacts__button1">
                     <p class="HeaderContacts__button1__text">Связаться в Telegram</p>
                </a>

                <a href="https://www.youtube.com/" class="HeaderContacts__button2">
                    <p class="HeaderContacts_button2_text">▷ Видеопортфолио</p>
                </a>
        </div>
        <div class="Header__frame1">
            <img class="Header__frame1__icon" src="{% static 'icons/Man_with_laptop.png' %}">
            <div class="Header__frame1__background"></div>
        </div>

        <div class="Header__frame2">
            <img class="Header__frame2__icon" src="{% static 'icons/Message.png' %}">
            <div class="Header__frame2__background"></div>
        </div>

        <div class="Header__frame3">
            <img class="Header__frame3__icon" src="{% static 'icons/Lighting.png' %}">
            <div class="Header__frame3__background"></div>
        </div>

    </header>

    <section class="main__construct">

        <a name="works"></a>

        <ul class="Artworks__navigation">
            <li class="Artworks__list active" data-filter="all">Все</li>
            <li class="Artworks__list" data-filter="key">Сайт под ключ</li>
            <li class="Artworks__list" data-filter="working">Разработка</li>
            <li class="Artworks__list" data-filter="design">Дизайн</li>
        </ul>

        <div class="Artworks">
            

            <div class="Artworks__show__frame1">
                  <img class="item__box" data-item="key" id="Image1"  src="https://i.pinimg.com/originals/7f/1d/42/7f1d426f5d28303f2a6613daf5b98978.jpg">
            
                <div class="Artworks__show__frame2">
                    <img class="item__box" data-item="working" id="Image2"  src="https://avatars.yandex.net/get-music-content/117546/eb90c69b.a.5933323-1/m1000x1000?webp=false" >
                    <img class="item__box" data-item="working" id="Image2"  src="https://i.pinimg.com/originals/64/7d/9a/647d9ab9ada2255f80ddddaa375a274b.jpg">
                </div>

                <img class="item__box" data-item="design" id="Image1"   src="https://catherineasquithgallery.com/uploads/posts/2021-02/1612884170_151-p-krasnii-fon-sokhri-164.jpg">

                <div class="Artworks__show__frame3">
                    <img class="item__box" data-item="working" id="Image2"  src="https://i.pinimg.com/736x/ab/83/bc/ab83bce727abcd63e95ff5e36455700a--city-lights-neon-signs.jpg" >
                    <img class="item__box" data-item="key" id="Image2"  src="https://i.pinimg.com/736x/e5/7c/f9/e57cf91860de05a49410488600d4b953.jpg">
                </div>
            </div>

        </div>

        <div class="Aboutme">

            <div class="Aboutme__border"> </div>
            
                <p class="Aboutme__DesignerDevelover">Designer & Develover</p>
                

                <p class="Aboutme__text">Приветствую! РЕТРО на связи. 
                    <br/>
                    <br/>
                    К сожалению, за свою столь короткую жизнь я так и не научился верстать сайты, но верю в то, что ОШ поможет мне в этом.
                    <br/>
                    <br/>
                    К несчастью, этот лендинг полностью завершить не удалось, но после сдачи ДэДа будем допиливать. 
                    <br/>
                    Работаем с ВШЭ и МИЭМом. 
                    <br/>
                    <br/>
                    Надеюсь, что запущу множество эвентовых проектов и брендинг.
                    <br/> 
                    Готов забирать в команду лучших, прокачивать свои и их компетенции, и возвращать истинное русское айти комьюнити.
                </p>
                

                <div class="Aboutme__statistic__frame">
                    <p class="Aboutme__statistic__number">1</p>
                    <p class="Aboutme__statistic__text">Сайт запущен</p>
                </div>
        
                <div class="Aboutme__statistic__frame2">
                    <p class="Aboutme__statistic__number">100%</p>
                    <p class="Aboutme__statistic__text">Выполнено в срок</p>
                </div>
        
                <div class="Aboutme__statistic__frame3">
                    <p class="Aboutme__statistic__number">0+</p>
                    <p class="Aboutme__statistic__text">Лет опыта</p>
                </div>


            <img class="Imageme" src="{% static 'img/Aboutme.jpg' %}">
            <a name="us"></a>
        </div>

        <div class="Aboutme__frame">
            <img class="Aboutme__frame__icon" src="{% static 'icons/Trophy.png' %}">
            <div class="Aboutme__frame__background"></div>
        </div>

        <div class="Services">
            <a name="services"></a>
            <p class="Services__name"> Услуги </p>
        </div>

        <div class="Services__choose">

            <div class="Services__choose__frame">

                <div class="Services__choose__frame__small">

                    <div class="Services__choose__frame__smaller">

                        <p class="Services__choose__number"> 01 </p>
                        <p class="Services__choose__heading"> Сайты на тильде</p>
                        <p class="Services__choose__Text"> Изучаем ваш бизнес. Узнаем, что важно клиентам, как вызвать доверие и довести до заявки или покупки </p>
                        <p class="line"></p>
                        <p class="Services__choose__price"> от 250.000 ₽ </p>
                    </div>
                </div>
            </div>

            <div class="Services__choose__frame">

                <div class="Services__choose__frame__small">

                    <div class="Services__choose__frame__smaller">

                        <p class="Services__choose__number"> 02 </p>
                        <p class="Services__choose__heading"> Веб-дизайн</p>
                        <p class="Services__choose__Text"> Если есть своя команда разработчиков или фрилансер. И нужен только дизайн сайта без разработки </p>
                        <p class="line"></p>
                        <p class="Services__choose__price"> от 100.000 ₽ </p>
                    </div>
                </div>
            </div>

            <div class="Services__choose__frame">

                <div class="Services__choose__frame__small">

                    <div class="Services__choose__frame__smaller">

                        <p class="Services__choose__number"> 03 </p>
                        <p class="Services__choose__heading"> Арт-дирекшн</p>
                        <p class="Services__choose__Text"> Проконтролирую ваш отдел дизайна, выявлю недочеты в дизайне и процессах работы в команде. Помогу наладить коммуникацию </p>
                        <p class="line"></p>
                        <p class="Services__choose__price"> от 130.000 ₽ </p>
                    </div>
                </div>  
            </div>
        </div>

        <p class="Price"> Подсчёт стоимости</p>

        <div class="Price__frame">  
        </div>

        <div class="Price__about__frame">
            <p class="Price__about__frame__maintext"> Примерный подсчёт: </p>

            <div class="Price__about__frame__text1">
                <p class="Price__about__frame__text1__1">Стоимость</p>
                <p class="Price__about__frame__text1__2"> от 130.000 ₽</p>
            </div>

            <div class="Price__about__frame__text2">
                <p class="Price__about__frame__text2__1">Примерные сроки</p>
                <p class="Price__about__frame__text2__2">14 рабочих дней</p>

            </div>

            <div class="Price__about__frame__button">
                <button class="Price__about__frame__button__button">
                    <p class="Price__about__frame__button__text">Обсудить проект</p>
                </button>
            </div>
        </div>

        <div class="Price__about__frame1">
            <img class="Price__about__frame__icon1" src="{% static 'icons/Timer.png' %}">
            <div class="Price__about__frame__background1"></div>
        </div>
        <div class="Price__about__frame2">
            <img class="Price__about__frame__icon2" src="{% static 'icons/Man_with_laptop.png' %}">
            <div class="Price__about__frame__background2"></div>
        </div>

        <div class="Price__about__button__main__frame">
            <button class="Price__about__button__frame">
                <p class="Price__about__button__text">Рассчитать стоимость</p>
            </button>
        </div>

        <div class="main">
                <div class="test1">
                    <select class="main__1__text__frame"></select>
                </div>
        </div>

        <div class="main2">
            <div class="test2">
                <select class="main__2__text__frame">Насколько большой проект?</select>
            </div>
    </div>

    <p class="Price__about__checkbox__text">Да, я слышал про осеннюю школу.
        Интересно, а после неё будет егэ?
    </p>

    <img class="Checkbox__3" src="{% static 'icons/Checkbox.png' %}">

    </section class="main__construct">

        
        <div class="QA__frame"> 
            <a name="Process"></a>
        <p class="QA_title">У ВАС ВОПРОС? У НАС ОТВЕТ!</p>
        </div>

        <div class="QA__frame__main">

            <div class="QA__frame__button ">
                <div class="QA__button__header">Занимаетесь исключительно дизайном?</div>
                <div class="QAcontent ">
                    <p> Нет, конечно нет.</p>
                </div>
            </div>

            <div class="QA__frame__button ">
                <div class="QA__button__header">Почему МИЭМ?</div>
                <div class="QAcontent ">
                    <p> Всё потому, что в МИЭМе сидят исключительно гиганты мысли, отцы русской демократии!</p>
                </div>
            </div>

            <div class="QA__frame__button ">
                <div class="QA__button__header">В какие сроки уложитесь?</div>
                <div class="QAcontent ">
                    <p> Цена-Качество-Время - наши неизменные спутники! Сделаем в лучшем виде в кратчайшие сроки.</p>
                </div>
            </div>

            <div class="QA__frame__button ">
                <div class="QA__button__header">Сколько правок я смогу внести в уже готовый проект?</div>
                <div class="QAcontent ">
                    <p> Всё зависит от масштаба правок, поэтому лучше посоветоваться с нашими менеджерами.</p>
                </div>
            </div>

            <div class="QA__frame__button ">
                <div class="QA__button__header">У меня срочный проект, поможете?</div>
                <div class="QAcontent ">
                    <p> Конечно, у нас существуют резервные команды быстрого реагирования, они воплатят в жизнь вашу мечту, как можно скорее!</p>
                </div>
            </div>

            <div class="QA__frame__button ">
                <div class="QA__button__header">Вас часто спрашивают:"Знаете ли вы РЕТРО?"</div>
                <div class="QAcontent ">
                    <p> Да, спрашивают часто, но вот не многие из моих знакомых отвечали на этот вопрос положительно.</p>
                </div>
            </div>

            <div class="QA__frame__button ">
                <div class="QA__button__header">Соре, у нас дизайнер обленился, вот кнопка с огромным текстом, для проверки</div>
                <div class="QAcontent ">
                    <p>А судьи кто? – За древностию лет К свободной жизни их вражда непримирима, Сужденья черпают из забыты́х газет Времен Очаковских и покоренья Крыма; 
                        Всегда готовые к журьбе, Поют всё песнь одну и ту же, Не замечая об себе: Что старее, то хуже. Где, укажите нам, отечества отцы, 
                        Которых мы должны принять за образцы? Не эти ли, грабительством богаты? Защиту от суда в друзьях нашли, в родстве, Великолепные соорудя палаты, 
                        Где разливаются в пирах и мотовстве И где не воскресят клиенты‑иностранцы Прошедшего житья подлейшие черты. Да и кому в Москве не зажимали рты 
                        Обеды, ужины и танцы? Не тот ли вы, к кому меня еще с пелён, Для замыслов каких‑то непонятных, Дитёй возили на поклон?
                        Тот Нестор негодяев знатных, Толпою окруженный слуг; Усердствуя, они в часы вина и драки И честь и жизнь его не раз спасали: вдруг 
                        На них он выменил борзые три собаки!!! Или вон тот еще, который для затей На крепостной балет согнал на многих фурах От матерей, отцов отторженных детей?! 
                        Сам погружен умом в Зефирах и в Амурах, Заставил всю Москву дивиться их красе! Но должников не согласил к отсрочке: Амуры и Зефиры все Распроданы поодиночке!!! 
                        Вот те, которые дожи́ли до седин! Вот уважать кого должны мы на безлюдьи! Вот наши строгие ценители и судьи! Теперь пускай из нас один, Из молодых людей, найдется – враг исканий, 
                        Не требуя ни мест, ни повышенья в чин, В науки он вперит ум, алчущий познаний; Или в душе его сам бог возбудит жар К искусствам творческим, высоким и прекрасным,
                         – Они тотчас: разбой! пожар!И прослывет у них мечтателем! опасным!! – Мундир! один мундир! он в прежнем их быту Когда‑то укрывал, расшитый и красивый, 
                         Их слабодушие, рассудка нищету; И нам за ними в путь счастливый! И в женах, дочерях – к мундиру та же страсть! Я сам к нему давно ль от нежности отрекся?! 
                         Теперь уж в это мне ребячество не впасть; Но кто б тогда за всеми не повлекся? Когда из гвардии, иные от двора Сюда на время приезжали, – Кричали женщины: ура! 
                         И в воздух чепчики бросали!
                    </p>
                </div>
            </div>

        </div>

        <div class="Contacts">
            <p class="Contacts__title">Оставьте заявку!</p>
            <p class="Contacts__text">В скором времени с вами свяжется мой секретарь</p>
            

            <form method="post"   class="Contacts__frame__main">

                {% csrf_token %}

                <div class="Contacts__frame__inside">

                    {{form.Name}}<br>
                    {{form.Mail}}<br>
                    {{form.Service}}<br>
                    {{form.Comment}}<br>

                    <!-- <div class="Contacts__frame__input">
                        <input class="Contacts__frame__input__new_0" type="text" placeholder="Имя" ></input>
                    </div>

                    <div class="Contacts__frame__input">
                        <input class="Contacts__frame__input__new" type="text" placeholder="Почта" ></input>
                    </div>

                    <div class="Contacts__frame__input">
                        <input class="Contacts__frame__input__new_2" type="text" placeholder="Услуга" ></input>
                    </div>

                    <div class="Contacts__frame__input">
                        <input class="Contacts__frame__input__new_3" type="text" placeholder="Комментарий к услуге" ></input>
                    </div> -->

                    <div class="Contacts__frame__main__message">
                        <button class="Contacts__frame__message" type="submit">
                            <p class="Contacts__frame__message__text">Отправить сообщение</p>
                        </button>
                    </div>

                    

                </div>
            </form>
            <a name="contacts_a"></a>
            <div class="Contacts__frame1">
                <img class="Contacts__frame1__icon" src="{% static 'icons/Lighting.png' %}">
                <div class="Contacts__frame1__background"></div>
            </div>

            <div class="Contacts__frame2">
                <img class="Contacts__frame2__icon" src="{% static 'icons/Man_with_laptop.png' %}">
                <div class="Contacts__frame2__background"></div>
            </div>

            <div class="Contacts__frame3">
                <img class="Contacts__frame3__icon" src="{% static 'icons/Message__big.png' %}">
                <div class="Contacts__frame3__background"></div>
            </div>

        </div>
    <script src="{% static 'js/work.js' %}"></script>
</body>
</html>